<h1>Welcome <%= @name %></h1>
<h2>Code Library</h2>
<table border = 3>
  <tr>
    <th>Type</th>
    <th>Language</th>
    <th>Purpose</th>
    <th>Content</th>
    <th><th>
  </tr>
  <%@result.each do |result|%>
      <tr>
        <td><%=result.kind%></td>
        <td><%=result.language%></td>
        <td><%=result.purpose%></td>
        <td><%=result.content%></td>
        <td><%= link_to "Edit", edit_code_path(result)%></td>
      </tr>
  <% end %>
<h3>Number of code inputs:
  <%=@count%>
</h3>
<h3>
  <%= link_to "Add Code", new_code_path%>
  <%= link_to "Delete All", code_path(@result), method: :delete%>
</h3>
</table>
