<div class="col-md-8 col-md-offset-2">
  <h1>Welcome <%= @name %>!</h1>
  <h2>Code Library</h2>
  <h3>Number of code inputs:
    <%=@count%>
  </h3>
  <h3>
    <button class="btn btn-default"><%= link_to "Add Code", new_code_path%></button>
    <button class="btn btn-default"><%= link_to "Delete All", code_path(@result), method: :delete%></button>
  </h3>

  <%@result.each do |result|%>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Code #<%=@counter%></div>
        <div class="panel-body">
          <p><strong>Type:</strong> <%=result.kind%></p>
          <p><strong>Language:</strong> <%=result.language%></p>
          <p><strong>Purpose:</strong> <%=result.purpose%></p>
          <p><%= link_to "Show Code", code_path(result)%></p>
          <button class="btn btn-warning-bg"><%= link_to "Edit", edit_code_path(result)%></button>
        </div>
      </div>
    </div>
    <% @counter = @counter + 1 %>
  <% end %>
  <div class="col-md-5 col-md-offset-5">
    <%= will_paginate @result %>
  </div>
  <div class="col-xs-12" style="height:30px;"></div>
</div>
