<div class="col-md-8 col-md-offset-2">
  <h2>User</h2>
    <p><%= @code.user.name %></p>
  <h2>Kind</h2>
    <p><%= @code.kind %></p>
  <h2>Language</h2>
    <p><%= @code.language %></p>
  <h2>Purpose</h2>
    <p><%= @code.purpose %></p>
  <h2>Content</h2>
    <p><%= @code.content %></p>
</div>
